* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 16px;
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 1rem;
}

a {
  color: #444444;
}

a:hover {
  color: #888888;
}

input, textarea {
  font: inherit;
}

.app-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 100vh;
  /* width: 100%; */
}

.content-container {
  max-width: 36rem;
  width: 70%;
  /* padding: 0 8px; */

}

.input-container {
  display: flex;
  /* align-items: stretch; */
  gap: 8px;
  margin: 10px 0px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fafafa;
  align-items: center;
}

.input-container input {
  margin-right: 0rem;
}

.task-input {
  /* padding: 8px; */
  border: 1px solid #ddd;
  border-radius: 4px;
  border: none;
  width: 100%;
  background: transparent;
  margin-left: 1rem;
  /* display: flex; */
}

.task-input:focus {
  outline: none;
}

.task-item {
  background: #fafafa;
  margin: 10px 0px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.task-item input {
  margin-right: 0.5rem;
}

.task-item button {
  margin-left: auto;
  display: inline;
}

.priority {
  color: red;
}

.date {
  color: grey;
}

footer {
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

button {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  height: 100%;
}
